*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 16px/1.4 Sono, sans-serif;
}

h1 {
  font-size: 4.2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: Coiny;
}

.fact {
  font-size: 2rem;
  line-height: 1.4;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Coiny;
}

ul {
  list-style: none;
}
