*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 16px/1.4 Sono, sans-serif;
  background: #292524;
  color: #fafaf9;
  padding: 4.8rem 6.4rem;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 4.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: Coiny;
  margin-top: 7px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 4rem;
  padding: 16px 4rem;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 4.8rem;
}

.fact {
  font-size: 2rem;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 2.4rem;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Coiny;
  padding: 3px 10px 0;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}
