/* BASIC */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 400 16px/1.4 Sono, sans-serif;
  background: #292524;
  color: #fafaf9;
  padding: 4.8rem 6.4rem;
}

@media screen and (max-width: 1199px) {
  body {
    padding: 3.2rem 4.8rem;
  }
}

ul {
  list-style: none;
}

/* ELEMENTS */

.container {
  max-width: 150rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 4.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: Coiny;
  margin-top: 7px;
}

.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 4.8rem;
}

@media screen and (max-width: 991px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.category {
  margin-bottom: 16px;
}

.fact {
  background-color: #44403c;

  padding: 16px 2.4rem;
  margin-bottom: 16px;
  border-radius: 16px;

  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

@media screen and (max-width: 1199px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Coiny;
  padding: 3px 10px 0;
  border-radius: 10rem;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: color 0.3s ease;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

/* BUTTONS */

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button {
  background: #78716c;
  color: inherit;

  padding: 6px 12px;
  border: none;
  border-radius: 10rem;

  font-family: inherit;
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vote-buttons button:hover {
  background: #292524;
}

.btn {
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;

  padding: 16px 0 13px;
  border: none;
  border-radius: 10rem;

  font-family: Coiny;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;

  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1) rotate(-2deg);
}

.btn--large {
  font-size: 2rem;
  padding: 2rem 3.2rem 1.7rem;
}

.btn--all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn--category {
  width: 100%;
  background: none;
}

/* FORM */

.fact-form {
  background-color: #44403c;
  margin-bottom: 4rem;
  padding: 16px 3.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  border-radius: 16px;
}

@media screen and (max-width: 1199px) {
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
}

.fact-form input,
.fact-form select {
  background: #78716c;
  color: inherit;

  width: 22rem;
  padding: 16px;
  border: none;
  border-radius: 10rem;

  font-family: inherit;
  line-height: 1;

  outline: none;
}

@media screen and (max-width: 1199px) {
  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-size: 18px;
  font-weight: 600;
  margin-right: 18px;
}

@media screen and (max-width: 1199px) {
}
