/* BASIC */

:root {
  --color-white-1: #fff;
  --color-white-2: #f8fafc;
  --color-white-3: #e2e8f0;
  --color-black: #0f172a;

  --color-blue-1: #3b82f6;
  --color-blue-2: #1e40af;
  --color-red: #dc2626;

  --border-radius-sm: 5px;
  --border-radius-md: 15px;
  --border-radius-lg: 25px;
  --border-radius-round: 50%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 400 18px/1.4 Lato, sans-serif;
  background: var(--color-white-2);
  color: var(--color-black);
  padding: 4.8rem 6.4rem;
}

@media screen and (max-width: 1199px) {
  body {
    padding: 3.2rem 4.8rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 3rem;
  }
}

ul {
  list-style: none;
}

/* ELEMENTS */
#root {
  max-width: 150rem;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font: 300 4.2rem/1 Oswald;
  margin-top: 7px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}
