/* BASIC */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 400 16px/1.4 Sono, sans-serif;
  background: #292524;
  color: #fafaf9;
  padding: 4.8rem 6.4rem;
}

@media screen and (max-width: 1199px) {
  body {
    padding: 3.2rem 4.8rem;
  }
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

/* ELEMENTS */

#root {
  max-width: 150rem;
  margin: 0 auto;
}

h1 {
  font-size: 4.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: Coiny;
  margin-top: 7px;
}

.category {
}

/* BUTTONS */

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.vote-buttons button {
  background: #78716c;
  color: inherit;

  padding: 6px 12px;
  border: none;
  border-radius: 10rem;

  font-family: inherit;
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vote-buttons button.btn--small {
  font-size: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-weight: 400;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-buttons button:hover {
  background: #292524;
}

.vote-buttons button:disabled {
  background: #44403c;
  cursor: not-allowed;
}

.btn {
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;

  padding: 16px 0 13px;
  border: none;
  border-radius: 10rem;

  font-family: Coiny;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1) rotate(-2deg);
}

.btn--large {
  font-size: 2rem;
  padding: 2rem 3.2rem 1.7rem;
}

.btn--all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn--category {
  width: 100%;
  background: none;
}

.btn.active {
  font-size: 2.5rem;
}

.modal__buttons button {
  border: none;
  padding: 10px 20px 12px;
  border-radius: 20px;
  line-height: 1;
  font-size: 17px;
  font-weight: 600;
  background: #78716c;
  cursor: pointer;
  color: inherit;
  transition: background-color 0.3s ease;
}

.modal__buttons button.btn--delete {
  background: #ef4444;
}

.modal__buttons button:hover {
  background: #292524;
}
