/* BASIC */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 400 16px/1.4 Sono, sans-serif;
  background: #292524;
  color: #fafaf9;
  padding: 4.8rem 6.4rem;
}

@media screen and (max-width: 1199px) {
  body {
    padding: 3.2rem 4.8rem;
  }
}

ul {
  list-style: none;
}

/* ELEMENTS */
#root {
  max-width: 150rem;
  margin: 0 auto;
}

h1 {
  font-size: 4.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: Coiny;
  margin-top: 7px;
}
