/* BASIC */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 400 16px/1.4 Sono, sans-serif;
  background: #292524;
  color: #fafaf9;
  padding: 4.8rem 6.4rem;
}

@media screen and (max-width: 1199px) {
  body {
    padding: 3.2rem 4.8rem;
  }
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

.disputed {
  color: #ef4444;
  font-weight: 700;
  margin-right: 10px;
}

/* ELEMENTS */

#root {
  max-width: 150rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 4.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: Coiny;
  margin-top: 7px;
}

.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 4.8rem;
}

@media screen and (max-width: 991px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.category {
  margin-bottom: 16px;
}

.fact {
  background-color: #44403c;

  padding: 16px 2.4rem;
  margin-bottom: 16px;
  border-radius: 16px;

  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

@media screen and (max-width: 1199px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Coiny;
  padding: 3px 10px 0;
  border-radius: 10rem;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: color 0.3s ease;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

/* BUTTONS */

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.vote-buttons button {
  background: #78716c;
  color: inherit;

  padding: 6px 12px;
  border: none;
  border-radius: 10rem;

  font-family: inherit;
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vote-buttons button.btn--small {
  font-size: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-weight: 400;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-buttons button:hover {
  background: #292524;
}

.vote-buttons button:disabled {
  background: #44403c;
  cursor: not-allowed;
}

.btn {
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;

  padding: 16px 0 13px;
  border: none;
  border-radius: 10rem;

  font-family: Coiny;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;

  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1) rotate(-2deg);
}

.btn--large {
  font-size: 2rem;
  padding: 2rem 3.2rem 1.7rem;
}

.btn--all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn--category {
  width: 100%;
  background: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #292524;
  opacity: 0.6;
}

.modal {
  position: fixed;
  width: 600px;
  padding: 40px 60px;
  background: #44403c;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-50%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  animation: deleteModalAppear 0.2s ease forwards;
}

@keyframes deleteModalAppear {
  from {
    opacity: 0;
    transform: translateY(-60%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 500px;
    padding: 30px 40px;
  }
}

.modal__header {
  font-size: 40px;
  color: #ef4444;
  font-weight: 600;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0 30px;
}

.modal__buttons button {
  border: none;
  padding: 10px 20px 12px;
  border-radius: 20px;
  line-height: 1;
  font-size: 17px;
  font-weight: 600;
  background: #78716c;
  cursor: pointer;
  color: inherit;
  transition: background-color 0.3s ease;
}

.modal__buttons button.btn--delete {
  background: #ef4444;
}

.modal__buttons button:hover {
  background: #292524;
}

/* FORM */

.fact-form {
  background-color: #44403c;
  margin-bottom: 4rem;
  padding: 16px 3.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  border-radius: 16px;
}

@media screen and (max-width: 1199px) {
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
}

.fact-form input,
.fact-form select {
  background: #78716c;
  color: inherit;

  width: 22rem;
  padding: 16px;
  border: none;
  border-radius: 10rem;

  font-family: inherit;
  line-height: 1;

  outline: none;
}

@media screen and (max-width: 1199px) {
  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-size: 18px;
  font-weight: 600;
  margin-right: 18px;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 20px auto 0;
  animation: loader-rotate 1s linear infinite;
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
